* {
    box-sizing: border-box;
}

body {
   margin: 0 auto;
}

.main {
    max-width: 850px;
    margin: auto;
}

.content {
  border: 3px solid #333;
  border-spacing: 50px;
    max-width: 850px;
    margin: auto;
    text-align: center;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    left=0;
}

.content h1 {
text-align: center;
font-size: 25px;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:1.2em;
    border: 1.1px solid black;
    width: 360px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size:21px;
}

.topnav a:hover {
    background-color: #282828;
    color: white;
}


.header {
    background-color: white ;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
    bottom:0;
}
