* {
    box-sizing: border-box;
}

body {
   margin: 0 auto;
}

.content {
  border: 3px solid #333;
  border-spacing: 50px;
    max-width: 850px;
    margin: auto;
}

.art_head{
padding: 20px;
}
.art_head a {

}

.article {
padding: 20px;
}

.article p{
  font-size: 20px;
}

.article a:link, a:visited{
    border-bottom:solid 2px white;
    background-color:  white ;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}

.article a:hover, a:active {
    background-color: 	#B8B8B8;
}

.info{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: 	#D0D0D0;
  border-spacing: 200px;
  text-decoration: none;
}


.info a{
    text-decoration: none;
}

.info a,i{
    margin-right:5px;
}

.info .material-icons{ font-size: 16px; }

footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
}


.main {
    max-width: 850px;
    margin: auto;
}

.header {
    background-color: white ;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size:21px;
}

.topnav a:hover {
    background-color: #282828;
}



@media screen and (max-width:600px) {
    .header {
        text-align: center;
        font-size: 20px;
    }
    .topnav a{
      font-size:15px;
      padding: 10px 3px;
    }
    .article p{
      font-size: 18px;
    }
    .content {
      border: 1px solid #333;
      border-spacing: 50px;
    }

}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 100;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 5px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
