div.container {
    width: 100%;
    border: 1px solid gray;
    left=0;
}

header, footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: center;
}

article {
    margin-left: 500px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    left=0;

}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:1.6em;
    border: 1.1px solid black;
    width: 480px;
}

w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
