.banner{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    min-height: 30px;
    text-align: center;
}

#block1,#block2{
    display: block;
    margin-left: 50px;
}

#block2{
    float: left;
    font-family: "Segoe UI Light", sans-serif;
    font-size: 16px;
    color: #d84500;
    text-decoration: none;
}

#block1{
    margin-right: 150px;
    font-family: "Segoe UI Light", sans-serif;
    color: #1f648b;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "left right";
}

.left {
    grid-area: left;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.right {
    grid-area: right;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.footer{
    padding: 10px;
    bottom: 0;
    left: 10%;
    right: 10%;
    text-align: center;
}

Button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family: Arial, "Segoe UI Light", sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 5px;
    max-width: 100px;
    min-width: 200px;
    text-align: center;
}
Button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
Button:active {
    position:relative;
    top:1px;
}

input{
    font-family: "Segoe UI Light", sans-serif;
    font-size: 16px;
    margin: 3px;
    border: 0 solid;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}

h1{
    font-family: "Segoe UI Light", sans-serif;
}

textarea{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.users{
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
}

.posts{
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 850px;
    margin: 20px auto;
    padding: 10px;
}