.form {
    background-image:url("banner3.png");
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    
}

@keyframes anim-1 {
    0%, 1% { left: -100%; opacity: 0; }
    8.3%,25% { left: 40%; opacity: 0.9; }
}

#register-input{
    font-family: "Segoe UI Light", sans-serif;
    outline-color: coral;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#register-btn {
    font-family: "Segoe UI Light", sans-serif;
    background: green;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: white    ;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
}

body {
    background-image:url("banner3.png");
    font-family: "Segoe UI Light", sans-serif;
    color: #FFFFFF;
}
