.home-page {
    width: 350px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    background: #FFFFFF;
    max-width: 350px;
    height: 600px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;

}
.form input {
    font-family: "Segoe UI Light", sans-serif;
    outline-color: coral;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


#register-input{
    font-family: "Segoe UI Light", sans-serif;
    outline-color: coral;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#register-btn {
    font-family: "Segoe UI Light", sans-serif;
    outline-color: coral;
    background: coral;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

#login-input{
    font-family: "Segoe UI Light", sans-serif;
    outline-color: forestgreen;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#login-btn {
    font-family: "Segoe UI Light", sans-serif;
    outline-color: forestgreen;
    background: forestgreen;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

body {
    background: cadetblue;
    font-family: "Segoe UI Light", sans-serif;
}


