.profile-page{
    background-color: lightgrey;
    text-align: center;
}

.top-bar{
    background: cadetblue;
    border-radius: 10px;
    width: 99%;
    height: 100px;
    padding: 10px;
    text-align: right;
}

.profile-page .user-page{
    background: snow;
    border-radius: 10px;
    width: 99%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

#bar-button{
    font-family: "Segoe UI Light", sans-serif;
    color: snow;
    background: coral;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}
