.profile-page{
    background-color: lightgrey;
    text-align: right;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Segoe UI Light",serif;

}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.profile-page .user-page{

    margin-top: 30px;
    background: snow;
    border-radius: 10px;
    height: 100%;
    text-align: center;

}

#bar-button{
    font-family: "Tahoma", sans-serif;
    color: snow;
    background: #000000;
    border-radius: 3px;
    width: 30px;
    height: 20px;
    padding: 5px;
    margin:  5px;
    text-decoration: none;
    opacity: 0.7;
}
